.container {
  border: 1px solid gray;
  padding: 20px;
  text-align: center;
}

input,
textarea {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}

textarea {
  height: 150px;
}

#emotion-select {
  width: 150px;
  padding: 5px;
  margin-bottom: 20px;
}

.submit-btn {
  width: 500px;
  padding: 10px;
  background-color: #2679F2;
  color: #fff;
  font-size: 18px;
  border: 0;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #4FA4F7;
}